[2020-10-29 15:07] prabh-62 opened #198 "Angular v11 - Error: The target entry-point "ng-recaptcha" has missing dependencies:"
### Summary

I'm submitting a:
- [x] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description
ng-recaptcha does not work with Angular v11 RC1.

### Demo

[code]
- Setup V3 reCAPTCHA as per [documentation](https://github.com/DethAriel/ng-recaptcha#recaptcha-v3-usage-see-in-action)
- `❯ npm start` and Angular CLI throws an error
[code]
<img width="1440" alt="reC

[2020-10-29 18:35] #198 closed

[2020-10-31 00:21] DethAriel commented on #197
Hi @danieldanielecki !

Could you please describe in more detail what is the behavior you'd expect a server-side rendered reCAPTCHA to have? How does it break your form exactly?

Conceptually, reCAPTCHA doesn't have any meaning during SSR stage, and it even can't be rendered fully in an SSR environment, since its implementation is `<iframe>`-based.

[2020-10-31 09:21] danieldanielecki commented on #197
@DethAriel do you want to say that it's infeasible to render reCAPTCHA on Angular Universal?

I'd be happy to have it in any form, without the semantic inline code/in an iframe, but it simply disappears when rendering on the server. Please check the picture below.

Angular

![Angular](https://user-images.githubusercontent.com/12736263/97775641-ad1c7380-1b62-11eb-8453-9c965c358995.png)

Angular Uni

[2020-11-09 19:06] danieldanielecki commented on #197
@DethAriel I think I've found the problem, the SSR build shows in the console:

`Refused to load the script 'https://www.google.com/recaptcha/api.js?render=explicit&onload=ng2recaptchaloaded' because it violates the following Content Security Policy directive: "script-src 'self'". Note that 'script-src-elem' was not explicitly set, so 'script-src' is used as a fallback. loadScript | @ | load-scrip

[2020-11-12 18:21] danieldanielecki commented on #197
That's some [Helmet](https://github.com/helmetjs/helmet) problem apparently, therefore closing.

I've also generated an empty `Angular Universal` project to confirm and it works perfectly, simply commenting out [Helmet](https://github.com/helmetjs/helmet)'s default usage (`expressApp.use(helmet());`) solved the error. I'll edit the post here if will get some more info, just in case anyone would fa

[2020-11-12 18:21] #197 closed

[2020-11-14 19:24] leewinder opened #199 "Cannot recover from a failed network call in V2 execute()"
### Summary

I'm submitting a:
- [ ] bug report
- [X] feature request
- [ ] question / support request
- [ ] other

### Description
If you call `.execute()` using V2 ReCAPTCHA with a disabled or non-existent network connection, there doesn't seem to be any notification to the calling code to allow you to recover.

It would be useful to have the ability to be notified should the Google API call fai

[2020-11-19 06:03] ashishgehlot commented on #165
I created a workaround to make it dynamic or via rest api using '**useFactory**'.

[code]

[2020-11-25 15:32] Rhonln opened #200 "Calling the execute method provokes incorrect behaviour on IOS"
### Summary

I'm submitting a:
- [ ] bug report
- [ ] feature request
- [x ] question / support request
- [ ] other

### Description

When using the execute method I recieve a token, then I use that token to call a web api. Finally, after the web api response, I send the user to whatsapp with a message. On any android device this works well, the browser asks if I want to open the web version or th

[2020-11-30 11:48] Jordan-Hall opened #201 "Reactive forms refresh"
### Summary

I'm submitting a:
- [X] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

When using the component inside reactive forms I've notice a bug. When you refresh the page the component has a valid token but, not showing it it ticked

[2020-11-30 15:54] sneelz opened #202 "Missing label on recaptcha form field (accessibility)"
### Summary

I'm submitting a:
- [x] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

When you run a webpage with the recaptcha on it through accessibility software like WAVE, it calls out a missing form field on the recaptcha. It seems to be on a textarea field that is not actually visible to the user until you turn the page styles off. I'm not sure

[2020-12-01 06:01] DethAriel commented on #166
Hi @jsonsystems !

Just so that I have the full picture -- are you actually waiting for reCAPTCHA to reset before issuing another `execute` call? If I open [the demo app](https://dethariel.github.io/ng-recaptcha/invisible), click `"Submit"` button, then wait for reCAPTCHA response to expire (indicated by `"null"` value appearing in the log), then press `"Submit"` again - the response is re-generat

[2020-12-01 06:01] #166 closed

[2020-12-01 06:04] DethAriel commented on #201
Hi @Jordan-Hall, and thank you for reaching out!

When you say "refresh the page" -- what exactly do you mean, can you elaborate? How are you getting the "valid token" from the component?

[2020-12-01 07:06] DethAriel commented on #199
Hi @leewinder ! Thank you for submitting this, I'll issue a fix and publish an updated version in the next couple of days!

[2020-12-01 08:35] #194 closed

[2020-12-01 08:35] #199 closed

[2020-12-01 08:51] DethAriel commented on #194
Hello again @Lino-LP ! This bug has now been fixed in `ng-recaptcha@6.1.0`. I wanted to thank you one more time for submitting it, and taking your time to further elaborate on your use-case.

Happy coding!

[2020-12-01 08:51] DethAriel commented on #199
Hello again @leewinder ! The feature you described is now available in `ng-recaptcha@6.1.0`. Please refer to the appropriate [documentation section](https://github.com/DethAriel/ng-recaptcha#example-error-handling) on details on how to take advantage of it, and reach out if you have any questions.

Happy coding!

[2020-12-01 11:31] MaxKless opened #203 "Angular 11 Support"
Hi, currently ng-recaptcha supports angular versions 6 through 10. Is support for Angular 11 coming? Are there any issues that you are aware of?

[2020-12-03 10:55] kokilarg opened #204 "Getting reCAPTCHA issue post deployment"
![image (12)](https://user-images.githubusercontent.com/49519314/100999878-391b2400-3583-11eb-9190-a73ca1f9e7c2.png)

In localhost:4200 (ng serve) I am not getting any kind of error
after the build with --prod, I am getting an error as displayed in the above screenshot...
I just created reCAPTCHA with version V2 ( I am not a robot ) and I have given the domain name clearly.
still, I am facing the

[2020-12-03 13:21] gogakoreli commented on #203
After migrating project to v11 I had random errors, which got fixed by disabling ivy via tsconfig's "enableIvy": false flag.
After spending a lot of time, figured out that it was due to ng-recaptcha not supporting v11 yet. I confirmed the issue by removing all of the reference of ng-recaptcha usage, while having ivy enabled and --prod build passing.

I was importing ng-recaptcha via: RecaptchaModu

[2020-12-04 09:27] scotch83 opened #205 "Error with `npm install --quiet --no-optional` (appflow for ionic)"
### Summary
For version 6.1.0
I'm submitting a:
- [x] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

Types for grecaptcha are in optional dependencies, while they should be in `devDependencies`, otherwise they will not be installed with `--no-optional` flag and the build of the hosting app will fail. This is crucial for Ionic apps, as the appflow sy

[2020-12-11 13:24] RegniBlef opened #207 "Catch error when "https://www.google.com/recaptcha" cannot be reached"
### Summary

I'm submitting a:
- [X] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

I have improved my CSPs (Content-Security-Policies) on the server and noticed that when the `RecaptchaV3Module` cannot reach the URL "https://www.google.com/recaptcha" due to the `connect-src` property, the error won´t be caught leading to infinite loading in my exam

[2020-12-15 15:41] Odonno commented on #123
@DethAriel Your solution seems to work (latest version on a angular 10 project).

I know it's a temporary solution but it's still better than nothing!

[2020-12-22 15:21] JakubPawlak commented on #165
I have a similar requirement for async key injection.

ReCaptcha public key is requested from backend depending on the environment of the app is running on. Workaround with APP_INITIALIZER above should work, but what if backend is temporary unavailable? The whole app wouldn't be loaded or it would wait in a blank state during retry.

[2020-12-22 21:32] DethAriel commented on #201
@Jordan-Hall

What makes you think that captcha still contains a value? reCAPTCHA value is only ever stored in memory, and is not preserved upon page reloads

[2020-12-22 21:35] DethAriel commented on #204
Hi @kokilarg ! After un-minifying the stack trace, do you have an exact line in `ng-recaptcha`?

[2020-12-22 21:38] DethAriel commented on #207
Hi @RegniBlef ! Can you elaborate on why would you want to catch this issue? It is un-recoverable, so catching it during runtime seems to be providing little to no value. That is -- if you know that CSP has been misconfigured, reCAPTCHA will never work, so what's the point in trying to instantiate it in the first place?

[2020-12-22 21:54] Jordan-Hall commented on #201
@DethAriel  because when i debugged the code it still had a value in the reactive form

[2020-12-22 22:30] #205 closed

[2020-12-22 22:31] DethAriel commented on #203
Hey folks! Angular 11 support is now available in `ng-recaptcha@7.0.0`

[2020-12-22 22:31] #203 closed

[2020-12-22 22:34] DethAriel commented on #167
The `.forRoot` deprecated method has been removed in v7.0.0. Happy coding, y'all!

[2020-12-22 22:34] #167 closed

[2020-12-22 22:36] #162 closed

[2020-12-22 22:39] DethAriel commented on #201
@Jordan-Hall can you come up with a repro code sample and step-by-step instuctions? This behavior certainly sounds unexpected, but unfortunately I can't reproduce myself.

[2020-12-22 22:46] #143 closed

[2020-12-26 15:32] RegniBlef commented on #207
My thought behind this was that there could be other reasons the endpoint can´t be reached and I would just like to have an option to catch the error and provide an alternative solution. But maybe it is as you say that the use case isn´t really there.

[2020-12-28 21:45] geyuqiu commented on #140
ngDefaultControl

[2021-01-04 17:53] bbarry opened #211 "7.0 causes error when used in project with typescript strict null checks"
### Summary

I'm submitting a:

- [x] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

[code]

https://github.com/DefinitelyTyped/DefinitelyTyped/blob/f17491e0d087ae9ba39cfcc961f1952016b20e75/types/grecaptcha/index.d.ts#L125 defines error callback as `(): void` (this is probably wrong but I am unable to find any documentation to correct it to submit t

[2021-01-06 22:16] #207 closed

[2021-01-07 05:53] manojasati opened #214 "ERROR in ../node_modules/ng-recaptcha/recaptcha/recaptcha-v3.service.d.ts:55:9 - error TS1086: An accessor cannot be declared in an ambient context. 55 get onExecute(): Observable<OnExecuteData>; ~~~~~~~~~ ../node_modules/ng-recaptcha/recaptcha/recaptcha-v3.service.d.ts:56:9 - error TS1086: An accessor cannot be declared in an ambient context. 56 get onExecuteError(): Observable<OnExecuteErrorData>;"
ERROR in ../node_modules/ng-recaptcha/recaptcha/recaptcha-v3.service.d.ts:55:9 - error TS1086: An accessor cannot be declared in an ambient
context.

55     get onExecute(): Observable<OnExecuteData>;
[code]

[2021-01-07 23:29] #211 closed

[2021-01-07 23:36] DethAriel commented on #211
Published in `v7.0.1`

[2021-01-07 23:43] DethAriel commented on #214
hi @manojasati ! Given the lack of information here, I'm going to close this issue. If you still have it, though, please free to open a new one and use the provided issue template which helps fill in the blanks, such as:

* When does this error happen?
* What is the version of Angular/TS/ng-recaptcha?
* Running which command yields this?

[2021-01-07 23:43] #214 closed

[2021-01-08 19:23] yornel13 commented on #214
Same error
im ussing

@angular-devkit/architect         0.803.26
@angular-devkit/build-angular     0.803.26
@angular-devkit/build-optimizer   0.803.26
@angular-devkit/build-webpack     0.803.26
@angular-devkit/core              8.3.26
@angular-devkit/schematics        8.3.26
@angular/cli                      8.3.26
@ngtools/webpack                  8.3.26
@schematics/angular               8.3.26
@

[2021-01-09 00:31] DethAriel commented on #214
what's the `ng-recaptcha` version @yornel13 ?

[2021-01-13 00:33] mrpetem commented on #153
Based on @psenechal solution, you can achieve this without injecting dependencies and just use Renderer2 in the component where you want the badge to display:

`
import { Component, OnInit, OnDestroy, Renderer2 } from '@angular/core';
...

export class MyComponent implements OnInit, OnDestroy {

    constructor(
        ...
        private renderer: Renderer2,
        private recaptchaV3Service: R

[2021-01-13 01:18] sir-captainmorgan21 commented on #152
@DethAriel Sorry. Forgot about this. But this is awesome. Thanks!

[2021-01-13 16:39] elsasantos commented on #214
Hello.
I have de same error when compile the ionic project:

    "@angular-devkit/build-angular": "~0.803.20",
    "@angular/cli": "~8.3.23",
    "@angular/compiler": "~8.2.14",
    "@angular/compiler-cli": "~8.2.14",
    "@angular/language-service": "~8.2.14",
    "@ionic/angular-toolkit": "^2.1.1",
    "tslint": "~5.15.0",
    "typescript": "~3.4.3"
    "cordova-android": "9.0.0",
    "ng-recapt

[2021-01-19 14:15] mokipedia commented on #201
I am seeing the same issue with reactive form. I think what @Jordan-Hall wanted to say is not "reload" the page but destroy the recaptcha component.
At least for me, having the component in an ngIf does exactly what @Jordan-Hall described - the captcha is not ticked anymore but the formcontrol is still valid and filled with the previous value. clearing the formcontrol by yourself also breaks the v

[2021-01-25 15:59] elsasantos opened #216 "Error when compile the ionic project with ng-recaptcha"
### Summary

I'm submitting a:

- [ X] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

When compile the ionic project after apply the ng-recaptcha plugin I have this error:

ERROR in ../node_modules/ng-recaptcha/recaptcha/recaptcha-v3.service.d.ts:55:9 - error TS1086: An accessor cannot be declared in an ambient context. 55 get onExecute(): Observabl

[2021-02-05 12:38] akilah007 commented on #216
Update Angular version to 9+

[2021-02-06 03:12] ChauISI commented on #214
Hello,
I'm running cmd ng serve or ng build for my project and got this same error:
![image](https://user-images.githubusercontent.com/23340354/107107415-c6d2f400-67fe-11eb-9996-bd1beeba803e.png)

"dependencies": {
    "@angular/animations": "~8.2.8",
    "@angular/cdk": "^8.0.2",
    "@angular/common": "~8.2.8",
    "@angular/compiler": "~8.2.8",
    "@angular/core": "~8.2.8",
    "@angular/forms

[2021-02-11 06:57] mokipedia commented on #201
up

[2021-02-11 07:04] mokipedia commented on #201
a workaround for this issue (at least mine, @Jordan-Hall if what i describe is not your issue, pls tell me and I will open up another issue) is to not use formValueAccessor and instead use the resolved event to manually patch the form. That way I can at least reset the formControl to be aligned with the recaptcha component

[2021-02-16 09:55] anodynos opened #217 "Webpack 2.x UglifyJsPlugin breaks with `Unexpected token: punc ()`"
### Summary

I'm submitting a:

- [x] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

The `webpack.optimize.UglifyJsPlugin` of Webpack 2.x breaks with

  `Unexpected token: punc ()) [../~/ng-recaptcha/fesm2015/ng-recaptcha.js:7,0]`

when it loads the fesm2015 version of ng-captcha that uglify doesnt support ;-(

See https://stackoverflow.com/question

[2021-03-06 03:28] kuncevic commented on #169
@DethAriel it would be great to put the details how to hide the captcha to the readme, otherwise it was taking a bit of time getting there 🤪 ref: https://github.com/DethAriel/ng-recaptcha/issues/169#issuecomment-691842728

[2021-04-01 01:06] #204 closed

[2021-04-19 13:44] manduriomane opened #218 "ng-recaptcha with lazy loaded module error: No provider for RecaptchaLoaderService"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [x] question / support request
- [ ] other

### Description

Hi,

I try to using ng-recaptcha inside a lazy loaded module that I load when user click on a button.
In particular, when user click on CONTACT button, my app load ContactModule in which  I'm import RecaptchaModule and RecaptchaFormsModule (in addition to the module

[2021-04-21 12:34] mrpharderwijk opened #219 "reCaptcha Enterprise compatibility"
I'm creating a POC in a project for work. I've noticed that the Google Cloud maintainer cannot make a choice between V2 and V3, due to the fact we have an Enterprise account. I've implemented the key that the Google Cloud maintainer has generated but the recaptcha component keeps saying:

[code]

Is this version of ng-recaptcha compatible and tested for Enterprise key's?

Thanks in advance!

[2021-04-27 13:31] erdenerunl opened #220 "Destroy recaptchaV3 manually"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [x] question / support request
- [ ] other

### Description
I want to add recaptchaV3 on my login modal box form and I want to destroy it manually when my modal component is destroyed. Because i dont need it anymore.

[2021-04-29 14:02] erdenerunl opened #221 "ERROR in node_modules/ng-recaptcha/recaptcha/recaptcha.component.d.ts(5,43): error TS1005: ';' expected."
### Summary

I'm submitting a:

- [x] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

I am facing this error on terminal, although it works properly.
```export declare type NeverUndefined<T> = T extends undefined ? never : T;```
This is a line in recaptcha.component.d.ts that gives this error.

Lib versions:

* ng-recaptcha: 7.0.1
* Angular: 5.2.6
*

[2021-05-11 10:29] Atom02 commented on #138
is this the only way?

[2021-05-14 11:03] kirillgroshkov opened #225 "Angular 12 / Webpack 5 `process` polyfill issue"
### Summary

I'm submitting a:

- [x] bug report

### Description

With Angular 12 using Webpack 5, our code now generates this build error:

[code]

It suggests that `ng-recaptcha` is relying on node's `process` module which is not available in the Browser.

So, the solution is to re-evaluate the need for `process` in `ng-captcha` and either remove it, or, provide a polyfill solution (or augment

[2021-05-14 11:08] kirillgroshkov commented on #225
Workaround that worked for me is the following. We were using `ngx-build-plus` in our project, which allows to override Webpack configuration. Adding these lines to the configuration "fixed" it:

[code]

ps: I haven't tested that actual recaptcha functionality is not broken by that.

[2021-05-14 11:11] kirillgroshkov commented on #225
UPD: the Workaround above doesn't fix the `ng serve` command (somehow `ng serve` doesn't load our extended webpack config).

[2021-05-14 11:24] kirillgroshkov commented on #225
UPD: replacing these lines in `angular.json` solved the `ng serve` issue!

[code]

[2021-05-14 20:12] DethAriel commented on #225
@kirillgroshkov

What makes you think that? Code that `ng-recaptcha` distributes does not contain any `process` references

[2021-05-15 11:51] kirillgroshkov commented on #225
The error message above clearly states `process`. Also, the workaround above (declaring `process: false`) fixes the error. So, somehow it's `process`-related.

But I also couldn't find any `process` mentions in the `dist` folder of `ng-recaptcha`, which is indeed strange.

[2021-05-15 18:37] DethAriel commented on #225
ng-recaptcha does not rely on process global variable. Most likely the error you're seeing is coming from somewhere else.

I'm closing this issue since there's nothing to fix at the moment. If you feel like this is an error that indeed related to this library, please provide clear reproduction steps.

[2021-05-15 18:37] #225 closed

[2021-05-15 19:24] kirillgroshkov commented on #225
Ok, you're right, I just found that the root cause was on the next line in my code:

[code]

So, indeed nothing to do with this repo. My bad.

[2021-05-27 13:59] hemmoleg opened #228 "ng-recaptcha often returns a token in offline mode"
Hello,

I wanted to test my error handling for the recaptcha service. What I found during testing is that most of the time the service returns a token when run in offline mode.
This issue also includes the demo provided at the "see in action" links. In the doc says you should just go to the site and set your browser to offline mode to see how the error handling works. However, most of the time you

[2021-06-03 08:28] PhilippMeissner commented on #138
Yes.
The only, possibly not viable, option would be to change the style reCAPTCHA applies to its DOM element. The second container being rendered (the one that actually includes the iFrame of reCAPTCHA) holds a style attribute of `position: absolute`. If you change this to `position: fixed` the position of the reCAPTCHA overlay will be within the viewport. But again, I don't think this is a viable

[2021-06-08 13:23] mrpharderwijk commented on #219
Google made a mess of Recaptcha... There is an Enterprise version in the GCP, outside GCP there is a Recaptcha admin (login with Google account) https://www.google.com/recaptcha/admin/create. To make things worse in the Recaptcha admin there are two versions you can create V2 and V3. In GCP Enterprise there isn't such an option. In the end I've tested both and found out that the GCP Enterprise ver

[2021-06-08 13:23] #219 closed

[2021-06-16 17:06] davicedraz commented on #214
Same issue here!

[code]

[2021-07-07 15:26] bonomiandreia opened #231 "unit testing in recaptcha v3"
### Summary
hey people, I have a problem with unit testing for recaptcha. I'll explain:
my subscribe:
[code]
in my spec:
[code]

But when I tried use in:
`const test = spyOn(ReCaptchaV3Service, 'execute').and.callThrough();`
I get this error:
`Argument of type '"execute"' is not assignable to parameter of type '"prototype" | "ɵfac" | "ɵprov"'.`

How can I test / mock this subscribe?
Thanks :)

I'm

[2021-07-10 19:43] Solat-Ali opened #232 "Support of plugin for Angular v12.1.1"
### Summary

I'm submitting a: question/feature request/bug

### Description

I was upgrading my local Angular application's version from 11.2.2 to latest 12.1.1, but I'm getting the following error:

![image](https://user-images.githubusercontent.com/52134925/125174714-db1d8180-e1e0-11eb-9be0-6ffa5225c4f5.png)

Please advise? Does ng-recaptcha support Angular 12.1.1 yet? Or am I doing something w

[2021-07-15 19:33] DethAriel commented on #232
Angular 12 support was added in v8.0.0, so this error should be gone after you upgrade the lib

[2021-07-15 19:33] #232 closed

[2021-07-15 19:35] DethAriel commented on #231
Did you try doing this:

[code]
?

[2021-07-15 19:35] #231 closed

[2021-07-15 19:38] DethAriel commented on #228
It does look like reCAPTCHA v3 can now function in offline mode as well. I'm afraid there's little I can do since the lib doesn't have control over reCAPTCHA internals.

[2021-07-15 19:38] #228 closed

[2021-07-15 19:43] DethAriel commented on #221
Support for older versions of Angular was discontinued as of version `7.0.0` as per [change log](https://github.com/DethAriel/ng-recaptcha/blob/master/CHANGELOG.md#700-2020-12-22). Angular 5 hasn't been supported since v4.0.0 as per [change log](https://github.com/DethAriel/ng-recaptcha/blob/master/CHANGELOG.md#400-2018-09-29).

You have two options: either staying on ng-recaptcha v3.x.x, or upgra

[2021-07-15 19:43] #221 closed

[2021-07-15 19:46] DethAriel commented on #217
Does this happen with ng-recaptcha v6.1.0 (the latest version to support Angular 6.x.x)?

[2021-07-15 19:48] DethAriel commented on #216
@elsasantos did you resolve the issue? What versions of Angular/ng-recaptcha are you using?

[2021-07-15 19:59] DethAriel commented on #202
Hi @sneelz, and thanks for submitting this.

This `textarea` field is added by reCAPTCHA core itself, which the lib has no control over. I can only assume why it's there in the first place (probably for easier HTML form values manipulation). It isn't supposed to be edited by users -- it's value is controlled programmatically IIUC.

I see you've already created [another issue](https://github.com/go

[2021-07-15 19:59] #202 closed

[2021-07-19 15:20] akilah007 commented on #216
Update Angular version to 9+. If not worked force `npm i ` fresh installation

[2021-07-20 18:39] LucFauvel opened #233 "reCAPTCHA v3 execute always returns null"
### Summary

I'm submitting a:

- [x] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description
Finally decided to add reCAPTCHAv3 to our page and for some reason the execute token is always null no matter what we do. What makes me think that the issue is with the library is that I can see the successful "userverify" call being made to google and I can see the

[2021-07-20 23:44] DethAriel commented on #233
Hey! How does the `this.unsubscribe$` look like? v3 resolution might take a while at times.
Also, please double-check that you're providing reCAPTCHA v3 key (not v2!) as `RECAPTCHA_V3_SITE_KEY` token.

Also, it would really help if you could provide a reproduction scenario. You could use the [Stackblitz demo](https://stackblitz.com/edit/ng-recaptcha-example) as a starting point

[2021-07-21 14:41] LucFauvel commented on #233
Its probably the token, I didn't know there was a difference, the unsubscribe is a subject that returns void that we use to remove subscriptions in ngOnDestroy, so that will only affect it when the user goes off the page.

[2021-07-21 20:25] DethAriel commented on #233
@LucFauvel got it. I'm gonna close this issue then, but feel free to re-open if that doesn't turn out to be the case.

[2021-07-21 20:25] #233 closed

[2021-07-22 02:44] lebaphi opened #236 "ng-recaptcha does not show in angular 10"
Hi,

This is my libs version:
[code]

app.module.ts
[code]

login.component.ts
[code]

login.component.html
[code]

I also add `localhost` in the domain section in the google console

![image](https://user-images.githubusercontent.com/26705621/126583407-3aee2d05-6be5-4993-9a35-02365684fd72.png)

but nothing happens on my login view, I can not see the recaptcha, and nothing in the console. Not sure

[2021-07-22 02:51] DethAriel commented on #236
hi @lebaphi ! as per the [change log](https://github.com/DethAriel/ng-recaptcha/blob/master/CHANGELOG.md), support for multiple versions of Angular has been dropped since v7.0.0. The latest version of `ng-recaptcha` to support Angular 10 is the `6.x.x` branch. So a way forward for you is to either upgrade Angular version in your app (which might be too time consuming), or downgrading to `ng-recapt

[2021-07-22 02:51] #236 closed

[2021-07-22 03:36] DethAriel commented on #220
Hi @erdenerunl and others! Can you help me understand the problem a little bit better? The way I see it, you're trying to achieve one of these two outcomes:

1. No longer have the reCAPTCHA badge being displayed on the screen after the user gets past the login form
2. Completely unload the reCAPTCHA-related javascript from the memory ((since, well, it's no longer needed)

For hiding the badge, the

[2021-07-22 03:36] #220 closed

[2021-07-22 03:47] DethAriel commented on #218
Hi @manduriomane ! Thank you for taking the time to submit the issue. Are you still experiencing it? If so, can you please provide some more info:

* what is the `ng-recaptcha` version?
* what is the Angular version?
* On top of that, it would be much easier for me to assist you if you could provide a reproduction scenario that I could refer to, preferably in the form of a Stackblitz demo. You can

[2021-07-22 05:14] DethAriel commented on #201
Thank you very much for the reproduction scenario @mokipedia! I can now reliably reproduce the behavior.

At this point I'm still on the fence whether to treat this as a bug, and if so - whether to fix it or not. The value provided as reCAPTCHA responses are supposed to be single-use only, and after grabbing it and passing it to the server, the reasonable expectation is that developers will _reset

[2021-07-22 05:17] DethAriel commented on #200
Hi @Rhonln ! Is this still an issue you're facing? Is there somewhere I can exhibit this behavior (or at least parts of it)? Does this happen with any particular iOS browser, or is this a WebView-specific situation?

[2021-07-22 06:19] mokipedia commented on #201
@DethAriel have you tried that? I tried to patch or set value, in that case your formvalueaccessor screamed at me that this is not allowed.

[2021-07-22 18:32] DethAriel commented on #201
@mokipedia yes, this does result in a console error from the value accessor (which is another avenue for a fix), however this error doesn't really affect the app in any detrimental way

[2021-07-22 19:15] mokipedia commented on #201
@DethAriel I would agree not fixing this might be the way to go as long as you allow a reset without error (e.g. with control value accessor)

However doing a reset like you suggest actually breaks logic in a form I am using it, hence the workaround. Not sure what exactly happens but the form is unusable afterwards.

[2021-07-22 19:25] DethAriel commented on #201
@mokipedia understood, thanks for working through this issue with me. I think I have an idea of how to fix this now, so I'll be working on a code update. What `ng-recaptcha` version are you on? I would like to better understand the extend of fix back-porting that I'll need to go through

[2021-07-22 19:37] mokipedia commented on #201
7.0.1 at the time of first noticing the error due to a code refactor on our side.

[2021-07-22 21:01] DethAriel commented on #201
The error that is generated when one is performing `this.formGroup.setValue({ captcha: null });` has been fixed in Angular 11.1.0, it's this one:

While there is a lib-specific workaround I can implement, I'd rather **not** go that route. Especially considering that a fix for this issue that I'll back-port to 7.x.x branch will no longer require you to clear the form value manually.

[2021-07-22 21:02] #201 closed

[2021-07-22 22:06] DethAriel commented on #201
This has now been fixed and released in `v7.0.2` (for Angular 11) and `v8.0.1` (for Angular 12). You can observe the new behavior [here](https://stackblitz.com/edit/angular-ivy-plsazr?devtoolsheight=33&file=src%2Fapp%2Fhello.component.ts).

[2021-07-22 22:45] DethAriel commented on #195
Hey folks! I've tried to reproduce this issue based on the original code that @amirzenoozi submitted, and I created [this Stackblitz demo](https://stackblitz.com/edit/ng-recaptcha-example-yfmgs6?file=src%2Fapp%2Fapp.component.ts). The behavior that I observe is a single execution of `resolved` callback.  Please advise - is this not what you're observing? Also, what Angular/ng-recaptcha versions ar

[2021-07-22 23:20] DethAriel commented on #159
Hi @GlauberF ! Theoretically, all of these should be possible, but below I take a closer look at these options. I do hope that some of the thoughts I express below will help you (and other readers) gain insight into how I'm thinking about those.

### Supported inputs

The `(+)` part delineates an option that wasn't mentioned in your original request.

* `siteKey`
* `size`
* `theme`
* `type`
* `bad

[2021-07-22 23:39] DethAriel commented on #153
Hey all! I see that you've resolved this issue already, but I wanted to call out that this is indeed _expected behavior_. To help others discover this, I've added a small [section](https://github.com/DethAriel/ng-recaptcha#hiding-recaptcha-badge) to the project's README, which essentially simply points to [reCAPTCHA documentation](https://developers.google.com/recaptcha/docs/faq#id-like-to-hide-th

[2021-07-22 23:39] #153 closed

[2021-07-22 23:45] #35 closed

[2021-07-23 00:17] DethAriel commented on #58
I'm going to close this issue for now. The suggestion put forward by @rtm is indeed one of the ways that invisible reCAPTCHA can be integrated, but at the moment I don't see a way to do so that would be idiomatic to the Angular framework. If you're reading this, and you think otherwise - feel free to open a new issue.

[2021-07-23 00:17] #58 closed

[2021-07-23 00:50] DethAriel commented on #165
There is now an idiomatic way to achieve that with Angular, which is using [`APP_INITIALIZER`](https://angular.io/api/core/APP_INITIALIZER). The approach is demonstrated in [this Stackblitz demo](https://stackblitz.com/edit/ng-recaptcha-example-3txhms). In essence, here's what's being done there:

[code]

[2021-07-23 00:50] #165 closed

[2021-07-23 18:50] amirzenoozi commented on #195
@DethAriel I have this issue in `angular/ng-recaptcha` version `5.0.0` I have no idea about the latest version

[2021-07-25 10:14] yktoo opened #237 "Add (loaded) event"
Thanks for the great component!

It'd be very nice to have some callback, e.g. `(loaded)` event, in `<re-captcha>`, without needing to create a customized `RecaptchaLoaderService`.

Loading the CAPTCHA may take a while, especially on a slow connection, so it'd make sense to display a spinner in the containing element. That spinner could then be removed in the proposed `(loaded)` event handler.

[2021-08-05 14:30] QuotientColt opened #239 "execute not triggering any action or callback when component is included in multiple modules"
### Summary

- [ x] bug report
- [ ] feature request
- [ x] question / support request
- [ ] other

### Description

I am sorry but i could not build a reproduction application since the Problem probably lies within the module structure. I assume that because its depends in which order i open the components. Still i think its a bug within the library because there is no error thrown and the action

[2021-08-06 10:50] QuotientColt commented on #239
After i changed the module structure i could not reproduce the issue.
login-compoment now directly declared in app.module and there for only present in one module
In my opinion still a "bug" in the library. At least there should be thrown an error or an empty token should be triggered as callback

[2021-08-27 11:09] futurbotconsolidated opened #240 "What to with the token i recieved?"
I am using Django as the backend. What am I supposed to do with the token I received from this library? I have followed the procedure of the V3 captcha.

[2021-09-03 20:36] DethAriel commented on #240
Hi @futurbotconsolidated !

Please consult official reCAPTCHA documentation on guidance for verifying the tokens

[2021-09-03 20:36] #240 closed

[2021-09-03 20:40] DethAriel commented on #195
@amirzenoozi currently I have no way to reproduce this issue. Can it be that there's something more to your use-case? I'm afraid that without a verifiable way to reproduce this (ideally a Stackblitz demo) there's very little I can do to help you.

[2021-09-13 21:21] crodriguezps commented on #198
why is this closed? Can you share solution?

[2021-10-06 23:50] gauravpatni123 opened #244 "Recaptcha issue when running on prod due to optimizer"
ERROR in ./node_modules/ng-recaptcha/fesm2015/ng-recaptcha.js

2021-10-06T21:37:51.6725543Z Module build failed (from ./node_modules/@angular-devkit/build-optimizer/src/build-optimizer/webpack-loader.js):

2021-10-06T21:37:51.6725543Z TypeError: Cannot read property 'kind' of undefined

Using below version

    "typescript": "~3.4.5"
    "@angular/cli": "~8.1.3",
     "@angular/core": "~8.1.3",

[2021-10-31 02:34] pcsantana commented on #244
Hi @gauravpatni123 ,

Did you find a solution?

Thank you!

[2021-10-31 02:38] gauravpatni123 commented on #244
@pcsantana yes, the solution is to downgrade your recaptcha version and test in your local by using the same environment file which you have been using in the production environment so that when it goes to prod it should support that. Thanks

[2021-10-31 02:40] #244 closed

[2021-10-31 02:40] gauravpatni123 commented on #244
By downgrading the recaptcha version it will fix . Closing it. Thanks

[2021-10-31 03:26] pcsantana commented on #244
I already use an old version (v6), now I tried with v5 and it worked.
Thanks @gauravpatni123 !

[2021-10-31 03:27] gauravpatni123 commented on #244
@pcsantana sounds good to me .

[2021-11-06 03:43] umairhm opened #245 "Support for Angular 13"
### Summary

I'm submitting a:

- [ ] bug report
- [x] feature request
- [ ] question / support request
- [ ] other

### Description

Angular 13 has been released on November 03, 2021. This is to start the discussion on upgrading `ng-recaptcha` to support Angular 13.

Lib versions:

* ng-recaptcha: 8.1.0
* Angular: 13.0.0
* Typescript (`tsc --version`): 4.4.4

[2021-11-08 20:36] Solat-Ali commented on #245
+1

[2021-11-11 08:54] sysmat commented on #168
ng13

[2021-11-13 23:32] EvanSevy commented on #245
Is there an ETA on when we might get this support for ng13?

[2021-11-13 23:34] umairhm commented on #245
The PR is ready for review and further steps. I hope it gets merged sooner than later.

[2021-11-14 03:27] DethAriel commented on #245
Hey folks!

It’s been a long week, but I’ll take a look at this some time Monday.
Thanks for your patience!

On Sat, Nov 13, 2021 at 3:34 PM Umair Hafeez ***@***.***>
wrote:

[2021-11-16 00:55] #245 closed

[2021-11-25 15:59] camilo-17 commented on #143
Hi!
Is there any way to make it works on firebase auth with phone number ?
basically I have the same problem but with firebase the recaptcha is auto generated using this:

`  this.windowRef.recaptchaVerifier = new firebase.auth.RecaptchaVerifier('recaptcha-container');`

[2021-12-09 15:17] lpnam0201 opened #247 "Build errors when adding NgRecaptcha to a custom Angular library"
### Summary

I'm submitting a:

- [X] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### DESCRIPTION
There are build errors when I add ng-recaptcha to an Angular library

### REPRODUCIBLE EXAMPLE

I created a demo:
https://github.com/lpnam0201/ng-recaptcha-into-lib

At the root folder of the project:
cd .\projects\my-lib
Run the command:
npm install
ng build my-lib

[2021-12-10 17:17] banana-bread commented on #247
+1

[2021-12-21 13:39] migue99angel opened #248 "The recaptcha badge persists"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [x] question / support request
- [ ] other

### Description

I am building an app using Angular and Ionic. I have implemented a register component using ng-recaptcha, but my problem is the badge persists when the user navigates to another component.

If I go to the register page, I get registered then the app redirects to the

[2021-12-29 17:37] anthonyjuarezsolis opened #249 "error ng-recaptcha angular 11.0.4"
package.json
  "dependencies": {
    "@angular/animations": "~11.0.4",
    "@angular/cdk": "^11.2.13",
    "@angular/common": "~11.0.4",
    "@angular/compiler": "~11.0.4",
    "@angular/core": "~11.0.4",
    "@angular/forms": "~11.0.4",
    "@angular/localize": "^12.0.0",
    "@angular/material": "^11.0.3",
    "@angular/platform-browser": "~11.0.4",
    "@angular/platform-browser-dynamic": "~11.

[2022-01-06 21:31] banana-bread commented on #249
+1

[2022-01-06 21:37] anthonyjuarezsolis commented on #249
Try downloading the ng recapcha version from 9 to 8 and it worked, it doesn’t be the right way but it works!

[2022-01-20 09:24] Fijo commented on #249
I ran into the same issue - the latest version that works with angular 11 is 8.0.1

[2022-01-22 09:23] alih12345 commented on #249
+1

[2022-02-15 15:21] sterichards opened #255 "boot.ts ???"
Please tell me more about boot.ts

It is very randomly placed in the docs for V2 without any description/explaination of what it does, why it's there or how I implement it

[2022-03-22 00:40] jtakemoto commented on #255
`boot.ts` is probably referencing the name of angular's main file from an old version. I don't know when it changed, but the equivalent file is `main.ts`.

[2022-04-27 07:17] pgarzina opened #258 "Recaptcha loading from a wrong url"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [x] question / support request
- [ ] other

### Description

Recaptcha is in some cases being requested from from https://www.google.com.x. ...

We have several user accounts that use our platform and issue a request to get recaptcha on a weird URL that is being blocked by our CSP. They are using Managed Chrome, if that provi

[2022-04-29 17:37] alvaromorenomorales commented on #248
Same problem here. Is there a solution?

[2022-04-29 18:12] ChadESmith42 opened #259 "Version Matrix for compatible versions of Angular"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [x] question / support request
- [ ] other

### Description
I need a version matching matrix with to show which versions of your library are compatible with specific versions of Angular.

[2022-05-05 11:41] fabichacon commented on #123
Anyone solved this error ?

[2022-06-06 09:39] AshleyMedway opened #262 "Upgrade to Angular 14"
### Summary

I'm submitting a:

- [ ] bug report
- [x] feature request
- [ ] question / support request
- [ ] other

### Description

Add support for Angular 14

[2022-06-08 16:59] lagranjadigital commented on #262
Please add support!

[2022-06-15 14:12] Mashsquare opened #265 "Recaptcha not always loading"
### Summary

I'm submitting a:

- [ x ] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

I am using recaptcha V3, the badge doesn't always load. When it doesn't load I get the "Invalid site key or not loaded in api.js" but is obviously not the case because when it works my request goes through and I console logged the site key which appears to be corr

[2022-06-16 11:11] gundogduhasan opened #266 "ng-recaptcha v3 chrome console issue (samesite)"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [ ] question / support request
- [ ] other

### Description

Hi i am using google ng-recaptcha with v3. I am getting chrome console issues about SameSite. I added my app module providers these following codes;

[code]
But i am still getting issues not error. Console issues. Do i something wrong?

Chrome issues before adding n

[2022-06-21 07:39] AshleyMedway commented on #262
For those waiting for this I have published a separate package for support for Angular14 until the package owner can merge this in.

Remove the reference to `ng-recaptcha` then install `ng-recaptcha14`.

[code]

You will also need to update any imports. i.e.

[code]

[2022-06-21 08:08] Mashsquare commented on #262
In the end I managed to make the current version run, however it has to be said that the recaptcha script import should be done in the head of the index.htm and not in the html file of the component in which you are using it (for example a form) or it will work only in incognito

[2022-06-21 08:10] #265 closed, assigned to nobody

[2022-06-25 04:18] DethAriel commented on #262
Hey folks! Apologies for the delay, but I wanted to let you know that support for Angular 14 has landed in `ng-recaptcha@10.0.0`. Cheers!

[2022-06-25 04:18] #262 closed

[2022-06-25 04:22] DethAriel commented on #249
hey folks! Apologies for any confusion this has caused. As was stated in the [changelog for v7.0.0](https://github.com/DethAriel/ng-recaptcha/blob/master/CHANGELOG.md#700-2020-12-22):

So the only version of `ng-recaptcha` that supports Angular 11 is, hence, the `v7.x.x` branch.

In the future I will try to be more explicit with this, stating the drop of the previous Angular version support in the

[2022-06-25 04:22] #249 closed

[2022-06-25 04:43] DethAriel commented on #255
Hi @sterichards ! As @jtakemoto correctly gathered, this is indeed an artifact of an older Angular file naming convention. In the newer versions of Angular framework this file is now indeed named `main.ts`. Sorry for the confusion 😔 I will update the README shortly

[2022-06-25 04:43] #255 closed

[2022-06-25 04:50] DethAriel commented on #258
hi @pgarzina ! It does look like the domain name you referenced is incomplete, and, to be honest, I'm not sure what kind of URL rewriting software was used to achieve this.

I can only point you to the [official reCAPTCHA docs on CSP](https://developers.google.com/recaptcha/docs/faq#im-using-content-security-policy-csp-on-my-website.-how-can-i-configure-it-to-work-with-recaptcha) in this case. The

[2022-06-25 04:50] #258 closed

[2022-06-25 04:51] DethAriel commented on #248
Hey folks! You can refer to [this section in the README](https://github.com/DethAriel/ng-recaptcha#hide-recaptcha-badge). Cheers!

[2022-06-25 04:51] #248 closed

[2022-06-25 04:53] DethAriel commented on #247
hi @lpnam0201 ! The version of `ng-recaptcha` that you need for Angular 11 support is actually v7.x.x. I hope this will resolve your issue.

Cheers!

[2022-06-25 04:53] #247 closed

[2022-06-25 04:59] DethAriel commented on #266
Hi @gundogduhasan!

To be honest with you, I'm not a CSP expert, and CSP as a whole is a pretty complicated subject. While I cannot provide meaningful advice for you on resolving this issue, I can give a couple pointers at the resources that you might find useful:

* [Official reCAPTCHA docs on CSP configuration](https://developers.google.com/recaptcha/docs/faq#im-using-content-security-policy-csp

[2022-06-25 04:59] #266 closed

[2022-06-25 05:03] DethAriel commented on #239
hi @QuotientColt !

Since you original problem was solved, I will close this issue. If you would like to submit an enhancement request for `ng-recaptcha`, please feel free to open a new issue.

Thanks!

[2022-06-25 05:03] #239 closed

[2022-06-25 05:10] DethAriel commented on #237
Hi @yktoo ! You are absolutely right, having such an event would certainly be a useful addition to the component API. Maybe even include a `RecaptchaLoaderService.preload()` method for potential `onHover` preloading 🤔

I'll look into it, thank you for the suggestion!

[2022-06-25 05:19] #259 closed

[2022-06-25 05:20] DethAriel commented on #259
hey @ChadESmith42 ! I heard you, so there you go, it's in [the README](https://github.com/DethAriel/ng-recaptcha#angular-versions) now. It's a compatibility table, not a matrix, but I hope it'll still serve you well.

Cheers!

[2022-06-25 05:37] #195 closed

[2022-06-25 05:37] #200 closed

[2022-06-25 05:38] #216 closed

[2022-06-25 05:38] #217 closed

[2022-06-25 05:38] #218 closed

[2022-06-25 14:42] ChadESmith42 commented on #259
@DethAriel, much appreciated! Thank you for the quick response.

[2022-06-29 11:11] Christian-Devs commented on #245
Hi.
I am currently trying to use this package but it is giving me the following error when running ng serve:
Error: node_modules/ng-recaptcha/lib/recaptcha-value-accessor.directive.d.ts:17:18 - error TS2314: Generic type 'ɵɵDirectiveDeclaration' requires 6 type argument(s).

17     static ɵdir: i0.ɵɵDirectiveDeclaration<RecaptchaValueAccessorDirective, "re-captcha[formControlName],re-captcha[formC

[2022-06-29 17:49] DethAriel commented on #245
@Christian-Devs please consult the [versions compatibility table](https://github.com/DethAriel/ng-recaptcha/#angular-versions) in the README. If the problem persists, please open a new issue, following the issue template

[2022-06-30 08:13] Christian-Devs commented on #245
Hi DethAriel.
Thank you, I downgraded to v9.0.0 and it worked fine.

[2022-07-01 09:02] littlejoe3 opened #267 "Recaptcha v3 badge position as inline?"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [x] question / support request
- [ ] other

### Description
see #30

Is it possible to position Recaptcha v3 as **badge: inline** like with Recaptcha v2?

[2022-07-01 10:43] #267 closed

[2022-07-15 08:26] w-firm opened #268 "google recapcha V3 recaptchaSettings not working for angular"
### Summary

I'm submitting a:

- [X ] bug report
- [ ] feature request
- [X ] question / support request
- [ ] other

### Description

Angular recaptcha V3 settings not working

![image](https://user-images.githubusercontent.com/50365787/179184000-9879a1cc-360d-46c6-bd76-6ff287f619a4.png)

Lib versions:

* ng-recaptcha: 10.0.0
* Angular: 10+

[2022-07-15 23:51] DethAriel commented on #268
@w-firm please consult the [versions compatibility table](https://github.com/DethAriel/ng-recaptcha#angular-versions). If the issue still persists, please let me know what exact version of Angular you're seeing this problem with

[2022-07-22 19:26] Naografix opened #269 "How to update style of the error message?"
Hello!

I'm trying to know how to update the error message when the captcha can't connect to service:

![image](https://user-images.githubusercontent.com/6979203/180513485-b97eaf8d-78d9-4232-a127-438b9a54cf36.png)

![image](https://user-images.githubusercontent.com/6979203/180513509-005ead32-cb70-4a72-b9a2-030f0074b8a1.png)

I don't know how to put a style on it.

Thank you for your help

EDIT: ad

[2022-07-22 19:52] #269 closed

[2022-08-13 01:16] #268 closed

[2022-09-15 07:27] souravion opened #271 "Issue with invalid sitekey"
How can I handle error if sitekey is invalid

Code snippet

[code]

[2022-09-26 18:45] brennomarques commented on #123
I'm having the same problem, using v2 of recaptcha version 8.0.1 and an error always appears.

![image](https://user-images.githubusercontent.com/39415053/192355527-2828b17e-cae0-417f-9df4-b588a61fb505.png)

I'm using ngOnDestroy but it still doesn't work.

Can anyone help me? thanks.

[2022-10-07 20:50] xinthose commented on #265
In my case, I moved the `ReCaptchaV3Service` from my login component to one of my `injectable` services.  It should load only once in the app, and not each time a user logouts out and comes to the login page again.  Call the public function from your login component when the login form is submitted to get the token.

[code]

[2022-10-10 09:00] ammad172 commented on #123
This issue still exists in "ng-recaptcha": "^10.0.0"
is there any fix available ??

[2022-11-21 04:06] mineminemine opened #275 "Angular v15 dependency upgrade"
### Summary

I'm submitting a:

- [ ] bug report
- [ ] feature request
- [ ] question / support request
- [x] other

### Description

Angular was just recently updated to v15 which is currently incompatible with v10 of ng-recaptcha. Would be great if ng-recaptcha gets upgraded as well to support Angular v15.

[2022-11-21 12:48] AJHanekom commented on #275
+1 Thanks for raising.

[2022-11-23 02:00] lana-white opened #278 "RECAPTCHA_V3_SITE_KEY - Token returns null when loading dynamic key with useFactory"
### Summary

I'm submitting a:

- [x] bug report

### Description
I have implemented Recaptcha V3, loading the key dynamically from an API request as per instructions in this issue https://github.com/DethAriel/ng-recaptcha/issues/165
I am initialising my site settings with APP_INITIALIZER, which assigns the recaptcha key value to a variable in this service, then I am retrieving this variable in a

[2022-11-30 05:22] #275 closed